body {
	background-color: #F0F0F0; /* #e8e8e4 */
}
img:hover {
	  opacity: 0.5;
		background: #ffffff;
		transform:scale(1.025,1.025);
}
.skill {
	line-height: 0px;
	color: #A71812;
	font-size: 12px;
}
.second-line-title {
	line-height: 0px;
	margin-top: 5px;
}
h3 {
	width: 320px;
}
.row {
	margin-left: 0px !important;
}
.navbar-default {
	background-color: white;
}
.navbar-icons {
	font-size: 50px;
}
.navbar-brand {
	font-size: 50px;
	line-height: 50px;
}


/* assets */
.outbound-link-button {
}